/* ----- Global ----- */
* {
    min-height: 0;
    min-width: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: rgba(24, 24, 37, 0.6);
}

.module {
    margin: 0.2rem;
    padding: 0rem 0.6rem;
    border-radius: 0.3rem;
    background-color: #1e1e2e;
}

/* ----- logo ----- */

#custom-logo {
    font-size: 1.3rem;
    padding-left: 0.6rem;
    padding-right: 0.8rem;
}

/* ----- workspaces ----- */

#workspaces.module {
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 2rem;
}

#workspaces button {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 0;
    color: #cdd6f4;
}

#workspaces button:first-child {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    padding-left: 0.9rem;
}
#workspaces button:last-child {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    padding-right: 0.9rem;
}

#workspaces button.active {
    color: #89b4fa;
}
#workspaces button.urgent {
    color: #f38ba8;
}
#workspaces button:hover {
    background: #cdd6f4;
    color: #1e1e2e;
}

/* Colors per module (keep your palette) */
#cpu {
    color: #94e2d5;
}

#memory {
    color: #cba6f7;
}

#clock {
    color: #74c7ec;
}

#pulseaudio {
    color: #b4befe;
}

#pulseaudio.muted {
    color: #a6adc8;
}

#language {
    color: #ff5050;
}

#backlight {
    color: #ffe38f;
}

#network {
    min-width: 22rem;
}

#custom-nextcloud_sync {
    margin-left: 3rem;
}

/* ----- tooltip ----- */
tooltip {
    background-color: rgba(24, 24, 37, 0.9);
    border: 1px solid #1e1e2e;
    border-radius: 0.6rem;
}

tooltip label {
    color: #cdd6f4;
}
